{% extends 'base.html' %}
{% block content %}
    <div class="leads-section">
        <div class="row">
            <div class="col-12">
                <a href="{% url 'leads:lead-create' %}">Create New Lead</a>
            <h1>Got Leads</h1>
        </div>
        <div class="col-12">
            <ul>
                {% for ld in leads %}
                <li><a href="{% url 'leads:lead-detail' ld.pk%}">{{ld.last_name}}</a>
                    &nbsp;&nbsp;&nbsp;
                    <a href="{% url 'leads:lead-update' ld.pk %}">Update</a>
                    &nbsp;&nbsp;&nbsp;
                    <a href="{% url 'leads:lead-delete' ld.pk %}" style="background-color: red;">Delete</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    </div>
{% endblock content %}